html {
  font-size: 62.5%;
  height: 100%;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  height: 100%;
  background-image: url(/images/background/bg.gif);
  position: relative;
  min-height: 100%;
  height: auto !important;
  font-family: "Hiragino kaku Gothic ProN", Meiryo, sans-serif;
}

.container{
  text-align: center;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 0px;
}

h1 {
  font-size: 30px;
}

